@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');
:root{
    font-family: 'News Cycle', sans-serif;
}
body {
    display: flex;
    background: url("images/yoda1.png") right top no-repeat ;
    background-size: 500px 600px;
    background-position-y: 160px;
    background-position-x: center;
    background-blend-mode: overlay;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'News Cycle', sans-serif;
    color: #2ab26a ;
    background-color: #d4f2b2;
    margin: 0px;
}

.header{

    background: url("images/yodaa.png") left top no-repeat ;
    background-size: 130px 150px;
   
    background-position-x: 0px;
    background-position-y: 2px;

    /* background: url("images/yodaa-flip.jpg") right top no-repeat ;
    background: scaleX(-1);
    background-size: 130px 150px;
   
    background-position-x: 100px;
    background-position-y: 0px; */

   
  text-align: center;
  font-weight: bolder;
  height: 150px;
  background-color: #749c54;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
}

.main-heading{
   padding: 50px;
   letter-spacing: 1.5rem;
}

.content{
  box-sizing: border-box;
  box-shadow: #242c6c;
  padding: 20px;
  
}

#txt-input{
   border-radius: 20px;
   box-sizing: border-box;
   height: 110px;
   width: 100%;
   max-width: 600px;
   display: block;
   margin: auto;
   padding: 10px;
   border: 2px solid #2ab26a;
   background-color: transparent;

}

#btn-translate{

    /* background: url("images/yoda.png") center no-repeat ;
    background-size: 70px 60px; */

    width: auto;
    height: 50px;
    background: #749c54;
    color: black;
    font-family: 'Pangolin', cursive;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-style: none;
    border-radius: 10px;
    border: 2px solid black;

}


#output{
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: 110px;
    width: 100%;
    max-width: 600px;
    font-family: 'Pangolin';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 2px solid #2b3464 ;
    color: #28470e;
    background: transparent;
     
}

em{
    color: black;
}

.footer{
 margin-top: auto;
 background-color: #749c54;
 color: white;
 height: 20vh; 
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;

}

h4{
 text-align: center;
 padding-top: 1px;
 letter-spacing: 5px;

}

p{
    padding-left: 50px;
    padding-right: 50px;
    /* font-family:'Comfortaa', cursive ; */
    font-size: small;
}